@model IEnumerable<Delivery>
@{
    ViewData["Title"] = "Deliveries";

}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Title</h1>
    <table class="table">
        <thead>
            <tr>
                <td>ID</td>
                <td>Created</td>
                <td>Sender Name</td>
                <td>Recipient Name</td>
                <td>Status</td>
                <td>Status Updated</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item?.Id</td>
                    <td>@item?.Created</td>
                    <td>@item?.SenderName</td>
                    <td>@item?.RecipientName</td>
                    <td>@item?.Status</td>
                    <td>@item?.StatusUpdated</td>
                </tr>
            }
        </tbody>
    </table>
</div>
